@model Consultants.Models.UserAccount
@{
    ViewBag.Title = "שכחתי סיסמא";
}

<body>
    <div class="container-login">
        <section id="content-login">
            <h1>שכחתי סיסמא</h1>
            @using (Html.BeginForm())
            {
                <div>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { type = "text", placeholder = "שם משתמש", id = "username", requried = "" } })
                    <span style="color:red;">@TempData["Message"]</span>
                </div>
                    <div>
                        <input type="submit" value="שחזר" />
                        <a>הסיסמא החדשה תשלח למייל איתו נרשמת</a>
                    </div>
            }
        </section>
    </div>
</body>

